@import './vars.scss';
@font-face {
  font-family: 'montserrat';
  src: url('./../fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'raleway';
  src: url('./../fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: 'icomoon';
  src: url('./../fonts/fonts/icomoon.eot?pvtxrf');
  src: url('./../fonts/fonts/icomoon.eot?pvtxrf#iefix')
      format('embedded-opentype'),
    url('./../fonts/fonts/icomoon.ttf?pvtxrf') format('truetype'),
    url('./../fonts/fonts/icomoon.woff?pvtxrf') format('woff'),
    url('./../fonts/fonts/icomoon.svg?pvtxrf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  line-height: 0.8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
.header {
  background-image: url('./../images/headerbg.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
}
.header .container {
  padding-top: 40px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-size: 28px;
  font-family: $ffm;
  font-weight: 100;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 30px;
  cursor: pointer;
}
.nav-link:hover {
  color: #c7b299;
}
.nav-item.last {
  margin-right: 60px;
}
.nav-link {
  display: block;
  color: #fff;
  font-size: 14px;
  font-family: $ffm;
}
.icon-search:before {
  content: '\e986';
  font-size: 20px;
  margin-left: 28px;
  cursor: pointer;
}
.icon-basket:before {
  content: '\e900';
  font-size: 20px;
  cursor: pointer;
}
.slider {
  margin: 13% auto 0;
  width: 85%;
}
.slider-text-1,
.slider-text-2,
.slider-text-3 {
  text-align: center;
  font-family: $ffr;
}
.slider-text-3 {
  font-size: 16px;
  font-weight: lighter;
}
.slider-text-2 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 56px;
  line-height: 0.8;
  font-weight: 800;
}
.slider-text-1 {
  font-size: 36px;
}
.slider-btn {
  display: block;
  width: 170px;
  height: 53px;
  background: #998675;
  border-radius: 5px;
  margin: 53px auto 0;
  text-align: center;
  line-height: 53px;
  font-family: $ffr;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}
.slick-dots li button:before {
  color: #fff;
  font-size: 11px;
}
.slick-dots li.slick-active button:before {
  font-size: 5px;
  color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}
.slick-dots {
  position: static;
  display: flex;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
}
.icon-cheveron-right:before {
  content: '\e901';
  position: absolute;
  right: 0;
  top: 40px;
  cursor: pointer;
  font-size: 100px;
  color: #d3c1ad;
}
.icon-cheveron-left:before {
  content: '\e902';
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 3;
  cursor: pointer;
  font-size: 100px;
  color: #d3c1ad;
}
